@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


#search_input {
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

header {
    width: 100%;
    display: flex;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 2em;
}

.btn_search {
    width: 10em;
    margin-left: 1em;
}

.navbar-brand {
    font-size: 72px;
}

.avatar {
    width: 256px;
    height: 256px;
    border-radius: 150px;
    border: 5px solid #F8FA90;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#main {
    margin-top: 3em;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide-loader{
    display:none;
}

#artist_profile {
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgba(157, 205, 192, 0.5);
    padding: 1em;
    border-radius: 20px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.alternate_names {
    font-style: italic;
}

.header_artist {
    z-index: 0;
    width: 100%;
    margin: 0;
}

.social {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.spotify_tracks {

}

.spotify_track {

}

.spotify_track img {
    width: 80px;
    height: 80px;
}

.track_left {
    display: inline-block;
}